{% extends "base.html" %} {% load static %} {% block content %}
<div class="max-w-5xl mx-auto py-10 px-6">
  <h1 class="text-4xl font-bold text-center mb-10 text-blue-600">
    Dashboard - Création d’Univers de Jeu
  </h1>

  <!-- Formulaire -->
  <div class="bg-white shadow-lg rounded-lg p-6 mb-10">
    <h2 class="text-2xl font-semibold mb-4">Ajouter un nouveau jeu</h2>
    <form method="post" class="space-y-4">
      {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
      <div>
        <label>{{ field.label }}</label>
        {{ field }} {% if field.errors %}
        <p class="text-sm text-red-500">{{ field.errors|join:", " }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <button
        id="create-game-button"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
      >
        Créer le jeu
      </button>
    </form>
  </div>

  <!-- Liste des jeux existants -->
  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-semibold mb-4">Jeux enregistrés</h2>

    {% if games|length > 0 %}
    <ul class="divide-y divide-gray-200">
      {% for game in games %}
      <li class="py-4">
        <h3 class="text-xl font-semibold text-blue-700">{{ game.univers }}</h3>
        <p class="text-sm text-gray-600">
          <strong>Story:</strong> {{ game.story }}
        </p>
        <img src="{{ game.illustration }}" class="text-sm text-gray-600">
        </img>
        <p class="text-sm text-gray-600">
          <strong>Personnages:</strong> {{ game.perso.all|join:", " }}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-gray-500">Aucun jeu enregistré pour le moment.</p>
    {% endif %}
  </div>
</div>
{% endblock %}


<script>
document.addEventListener("DOMContentLoaded", function () {
  const createGameButton = document.getElementById("create-game-button");
  createGameButton.addEventListener("click", function (event) {
    console.log("Button clicked");
  });
})
</script>