{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="dashboard-container">
  <h1>
    Dashboard - Création d'Univers de Jeu
  </h1>

  <div class="form-container">
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Créer le jeu</button>
    </form>
  </div>

  <div class="games-container">
    <div class="games-container-header">
      <h2>Jeux enregistrés</h2>
      <div class="header-line"></div>
    </div>

    {% if games|length > 0 %}
      {% for game in games %}
        <div class="game-container">
          <h3 class="game-title">{{ game.univers }}</h3>
          <div class="game-content">
            <p class="game-story">{{ game.story }}</p>
            <img class="game-illustration" src="{{ game.illustration }}" />
            <div class="game-perso">
              {% if item.personnages %}
              <ul>
                {% for perso in item.personnages %}
                  <li>
                    <strong>{{ perso.name }}</strong> ({{ perso.race }}) : {{ perso.description }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Aucun personnage pour ce jeu.</p>
        >>>>>>> f952e196e65856c04beeec397e793ae92ff8c3db
            {% endif %}
          </div>
        {% endfor %}
            </p>
          </div>
       </div>
      {% endfor %}

    {% else %}
    <p>Aucun jeu enregistré pour le moment.</p>
    {% endif %}
  </div>
{% endfor %}

</div>
{% endblock %}


<script>
document.addEventListener("DOMContentLoaded", function () {
  const createGameButton = document.getElementById("create-game-button");
  createGameButton.addEventListener("click", function (event) {
    console.log("Button clicked");
  });
})
</script>