{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="dashboard-container">
  <h1>
    Dashboard - Création d'Univers de Jeu
  </h1>

  <div class="form-container">
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Créer le jeu</button>
    </form>
  </div>

  <div class="games-container">
    <div class="games-container-header">
      <h2>Jeux enregistrés</h2>
      <div class="header-line"></div>
    </div>

    {% if games_with_personnages|length > 0 %}
      {% for game in games_with_personnages %}
        <div class="game-container">     
            <h3 class="game-title">{{ game.game.univers }}</h3>
            <p class="game-story">{{ game.game.story }}</p>
            <div class="game-content">

              <div class="game-infos">
                <img class="game-illustration" src="{{ game.game.illustration }}" />
              </div>
  
              <div class="game-persos-container">
                {% for perso in game.personnages.all %}
                  <div class="game-perso">
                    <h4 class="perso-name">{{ perso.name }}</h4>
                    <p class="perso-race">{{ perso.race }}</p>
                    <p class="perso-description">{{ perso.description }}</p>
                  </div>
                {% endfor %}
              </div>

            </div>

      {% endfor %}
      {% else %}
    <p>Aucun jeu enregistré pour le moment.</p>
    {% endif %}
  </div>

</div>
{% endblock %}


<script>
document.addEventListener("DOMContentLoaded", function () {
  const createGameButton = document.getElementById("create-game-button");
  createGameButton.addEventListener("click", function (event) {
    console.log("Button clicked");
  });
})
</script>