{% extends "base.html" %} {% block title %}Connexion{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="d-grid gap-2">
		<button type="submit" class="btn btn-primary">Se connecter</button>
		<button type="button" class="btn btn-secondary" onclick="fillTestCredentials()">Remplir avec test</button>
	</div>
	<p id="bottom-hint">Already have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</form>
<script>
	//only for testing purposes
	function fillTestCredentials() {
		document.querySelector('input[name="username"]').value = 'frontkick';
		document.querySelector('input[name="password"]').value = 'lolilol1234';
	}
</script>
{% endblock %}