{% extends "base.html" %} {% block title %}Connexion{% endblock %} 
{% block content %}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h2 class="text-center">Connexion</h2>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-primary">Se connecter</button>
							<button type="button" class="btn btn-secondary" onclick="fillTestCredentials()">Remplir avec test</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

//only for testing purposes
function fillTestCredentials() {
	document.querySelector('input[name="username"]').value = 'frontkick';
	document.querySelector('input[name="password"]').value = 'lolilol1234';
}
</script>
{% endblock %}