.dashboard-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.games-container-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-line {
    width: 100%;
    height: 1px;
    background-color: #0000004b;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-container {
    background-color:  #d0b3ae;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-illustration {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}


.game-story {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #333;
    line-height: 1.5;
    margin: 1rem 0;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container form {
    width: 100%;
    max-width: 600px;
}


.form-container input,
.form-container textarea {
    width: 100%;
    margin-bottom: 1rem;
}

.game-persos-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.game-perso {
    border-radius: 8px;
    position: relative;
    display: flex;
    padding: 1em;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-color);
}

.perso-race {
    position: absolute;
    top: -30px;
    right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--light-color);
    padding: 0.5em;
    border-radius: 4px;
    background-color: #ab5b4d;
}

.game-infos {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.game-content {
    display: flex;
    width: 100%;
    gap: 2em;
}

.game-title {
    margin-top: 2em;
    margin-bottom: 0.1em;
}

.game-story {
    margin-top: 0.1em;
    margin-bottom: 2em;
}





