:root {
	--subtitle-font: "Montserrat", sans-serif;
	
	--accent-color: #e36c6c;
	--light-color: #f0e6e4;
	--extra-light-color: #e0d3d0;
}

body {
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;	
}

nav {
	background: #333;
	color: white;
	padding: 10px 0;
}

.nav-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.nav-container a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.nav-container a:hover {
	text-decoration: underline;
}

main {
	flex-grow: 1;
	background-color: #e0d3d0;
	display: flex;
	align-items: center;
	justify-content: center;

}